@using System.Linq;
@model IEnumerable<PIN_Projekt.Models.Parking>


@{
    ViewData["Title"] = "Index";
}

    <div style="margin-bottom:60px;">
        <h3 style="text-align:center;">Unos vozila u parking</h3>
    </div>
    <div style="width:50%">
        <form asp-action="DetaljniPrikaz" method="post">
            <label>Pretraži po registracijskoj oznaci</label>
            <input type="text" name="RegOznake" />
            <input type="submit" value="Pretraži" />
        </form>
    </div>
<div style="float:right;">
    
    <h5>TRENUTNI BROJ VOZILA NA PARKINGU JE @Model.Select(i=> i.Id).Count() </h5>
    <h5>TRENUTNI BROJ LJUDI NA PARKINGU JE @Model.Sum(i => i.brojOsoba) </h5>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Registracijska oznaka vozila
            </th>
            <th>
                Model vozila
            </th>

            <th>
                <a asp-action="Create">Unesi vozilo</a>
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {

            <tr>
                <td style="vertical-align:inherit">
                    @Html.DisplayFor(modelItem => item.registracija)
                </td>
                <td>
                    <form style="margin-bottom:5px">
                        <button class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Uredi</button>
                    </form>


                    <form>
                        <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Napustio</button>
                    </form>

                </td>

            </tr>
        }
    </tbody>

</table>

